#index-main-header {
  width: 100%;
  height: 100vh;
  background-image: url(/bedrijve/img/headerIMG.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #index-main-header h1, #index-main-header h2 {
    margin: 0px;
    color: white;
    text-align: center; }
  #index-main-header h1 {
    padding-top: 35vh; 
    
  }
